<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>zad1_sqlite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC1843A51FD1502C008F7FAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC1843BD1FD1502D008F7FAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC1843C81FD1502D008F7FAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
